<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Kill Count</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/movies">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/victims">Victims</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Log In</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/victims/new">Add Victims</a>
            <a class="dropdown-item" href="/movies/new">Add Movie</a>
            <a class="dropdown-item" href="#">Golden Chainsaws & Dull Machetes?</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>