
    <h1>Victims Index</h1>

    <ul class="victims">
        <% for (let i = 0; i < victims.length; i++) { %> 
        <li>
            <a href="/victims/<%= victims[i]._id %>"><%= victims[i].name %></a>
        </li>
    <% } %> 
    </ul>
