<body>

    
    <div class="jumbotron jumbotron-fluid bg-dark">
        <div class="container">
          <h1 class="display-4">The Kill Count</h1>
          <p class="lead">Let's get down to the kills...</p>
        </div>
      </div>
      <img src="https://images.squarespace-cdn.com/content/v1/5d53809a96f86e00015a6f03/1572453439876-UXZI96NTOL4BUTEI4H9P/ke17ZwdGBToddI8pDm48kOeqOrapDZXQyok98LIHDrJ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UfTJldhv7WBVAcc1YAcB2uJOe783h6RVTv5boR-cT1nQbSexTd1-frD7527z4SM9QQ/Screen+Shot+2019-10-30+at+12.36.29+PM.png" class="img-fluid" alt="Responsive image">


</body>