
    
    <h1>Movies Index</h1>

    <ul class="movies">
        <% for (let i = 0; i < movies.length; i++) { %> 
        <li>
            <a href="/movies/<%= movies[i]._id %>"><%= movies[i].title %></a>
        </li>
    <% } %> 
    </ul>
