
    
    <h1>Add a New Movie</h1>

    <form action="/movies" method="POST">
        <div>
            <label for="title">Movie Title:</label>
            <input type="text" name="title">
        </div>

        <div>
            <label for="year">Release Year:</label>
            <input type="number" name="year">
        </div>

        <div>
            <label for="director">Directed By:</label>
            <input type="text" name="director">
        </div>

        <div>
            <label for="kill_count">Kill Count:</label>
            <input type="number" name="kill_count">
        </div>

        <input type="submit" value="Add movie"/>
    </form>
